<template>
  <b-container class="pt-3 pb-3">
    <b-card class="pa-5" outline>
      <h5>ข้อมูลส่วนบุคคล</h5>
      <b-form @submit.prevent="submit">
        <div class="mt-2">Email {{ text }}</div>
        <b-form-input
          type="email"
          v-model="resume.email"
          placeholder="กรุณาใส่อีเมล์"
          required
        ></b-form-input>
        <div class="mt-2">ชื่อ {{ text }}</div>
        <b-form-input
          v-model="resume.name"
          placeholder="กรุณาใส่ชื่อจริง"
          required
        ></b-form-input>
        <div class="mt-2">นามสกุล {{ text }}</div>
        <b-form-input
          v-model="resume.surname"
          placeholder="กรุณาใส่นามสกุล"
          required
        >
        </b-form-input>
        <div class="mt-2">วันเดือนปีเกิด {{ text }}</div>
        <b-form-input
          v-model="resume.birthday"
          type="date"
          placeholder="กรุณาใส่นามสกุล"
          required
        >
        </b-form-input>
        <b-form-group label="เพศ" v-slot="{ ariaDescribedby }">
          <b-form-radio
            v-model="resume.gender"
            :aria-describedby="ariaDescribedby"
            name="male"
            value="ชาย"
            >ชาย</b-form-radio
          >
          <b-form-radio
            v-model="resume.gender"
            :aria-describedby="ariaDescribedby"
            name="female"
            value="หญิง"
            >หญิง</b-form-radio
          >
        </b-form-group>
        <div class="mt-2">สถานภาพสมรส {{ text }}</div>
        <b-form-select
          v-model="resume.marital"
          :options="maritalOptions"
        ></b-form-select>
        <div class="mt-2">ส่วนสูง {{ text }}</div>
        <b-input-group>
          <b-form-input
            class="border-right-0"
            type="number"
            v-model="resume.height"
            placeholder="กรุณาใส่ส่วนสูง"
          ></b-form-input>
          <b-input-group-append>
            <b-input-group-text class="bg-transparent font-weight-bold">
              เซนติเมตร
            </b-input-group-text>
          </b-input-group-append>
        </b-input-group>
        <div class="mt-2">น้ำหนัก {{ text }}</div>
        <b-input-group>
          <b-form-input
            class="border-right-0"
            type="number"
            v-model="resume.weight"
            placeholder="กรุณาใส่น้ำหนักตัว"
          ></b-form-input>
          <b-input-group-append>
            <b-input-group-text class="bg-transparent font-weight-bold">
              กิโลกรัม
            </b-input-group-text>
          </b-input-group-append>
        </b-input-group>
        <div class="mt-2">สัญชาติ {{ text }}</div>
        <b-form-select
          v-model="resume.nationality"
          :options="nationalityOptions"
        ></b-form-select>
        <div class="mt-2">ศาสนา {{ text }}</div>
        <b-form-select
          v-model="resume.religion"
          :options="religionOptions"
        ></b-form-select>
        <div class="mt-2">สภานภาพทางทหาร {{ text }}</div>
        <b-form-select
          v-model="resume.military"
          :options="militaryOptions"
        ></b-form-select>
        <div class="mt-2">ที่อยู่ปัจจุบัน {{ text }}</div>
        <b-form-input
          v-model="resume.addressno"
          type="text"
          placeholder="โปรดระบุบ้านเลขที่"
          required
        >
        </b-form-input>
        <div class="mt-2">จังหวัด {{ text }}</div>
        <b-form-input
          v-model="resume.province"
          type="text"
          placeholder="โปรดระบุจังหวัด"
          required
        >
        </b-form-input>
        <div class="mt-2">เขต/อำเภอ {{ text }}</div>
        <b-form-input
          v-model="resume.district"
          type="text"
          placeholder="โปรดระบุอำเภอ"
          required
        >
        </b-form-input>
        <div class="mt-2">แขวง/ตำบล {{ text }}</div>
        <b-form-input
          v-model="resume.subdistrict"
          type="text"
          placeholder="โปรดระบุตำบล"
          required
        >
        </b-form-input>
        <div class="mt-2">เบอร์โทรศัพท์มือถือ {{ text }}</div>
        <b-form-input
          v-model="resume.phone"
          type="text"
          placeholder="โปรดระบุเบอร์มือถือ"
          required
        >
        </b-form-input>
        <div class="pt-3 float-right">
          <b-button variant="success" type="submit">บันทึก</b-button>&nbsp;
          <b-button variant="danger" @click="cancel">ยกเลิก</b-button>
        </div>
      </b-form>
      <span>{{ resume }}</span>
    </b-card>
  </b-container>
</template>

<script>
// import axios from 'axios'
export default {
  name: 'resume-create',
  data: () => ({
    resume: {
      email: '',
      name: '',
      surname: '',
      birthday: '',
      gender: '',
      marital: 'null',
      height: '',
      weight: '',
      nationality: 'null',
      religion: 'null',
      military: 'null',
      addressno: '',
      province: '',
      district: '',
      subdistrict: '',
      phone: ''
    },
    maritalOptions: [
      { text: 'กรุณาเลือกสถานะภาพสมรส', value: null, disabled: true },
      { value: 'โสด', text: 'โสด' },
      { value: 'สมรส', text: 'สมรส' },
      { value: 'หย่า', text: 'หย่า' },
      { value: 'หม้าย', text: 'หม้าย' }
    ],
    nationalityOptions: [
      { text: 'โปรดระบุ', value: null, disabled: true },
      { value: 'ไทย', text: 'ไทย' },
      { value: 'กัมพูชา', text: 'กัมพูชา' },
      { value: 'เวียดนาม', text: 'เวียดนาม' },
      { value: 'ลาว', text: 'ลาว' }
    ],
    religionOptions: [
      { text: 'โปรดระบุ', value: null, disabled: true },
      { value: 'พุทธ', text: 'พุทธ' },
      { value: 'คริสต์', text: 'คริสต์' },
      { value: 'อิสลาม', text: 'อิสลาม' }
    ],
    militaryOptions: [
      { text: 'โปรดระบุ', value: null, disabled: true },
      { value: 'ผ่านการเกณฑ์ทหาร', text: 'ผ่านการเกณฑ์ทหาร' },
      { value: 'ได้รับการยกเว้น', text: 'ได้รับการยกเว้น' },
      { value: 'ยังไม่ผ่านการเกณฑ์ทหาร', text: 'ยังไม่ผ่านการเกณฑ์ทหาร' }
    ]
  }),
  methods: {
    cancel () {
      this.$router.back()
    },
    submit () {
      alert(JSON.stringify(this.resume))
    }
  }
}
</script>

<style></style>
